<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="testng" parallel="classes" thread-count="3">
    <test name="TestLab-task">
        <classes>
            <class name="tests.PrestashopTestCurrency">
                <methods>
                    <exclude name="productsCurrencyAndHeadCurrencyTest"/>
                    <include name="searchedForCountTest"/>
                    <include name="currencyOfProductsAtSearchPageTest"/>
                </methods>
            </class>
            <class name="tests.PrestashopTestDiscount">
                <methods>
                    <include name="productSortingTest"/>
                    <include name="discountTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
